name: CD

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  draft:
    name: Draft
    runs-on: ubuntu-latest
    steps:
      - name: Create draft release
        run: gh release create ${{ github.ref_name }} --draft --generate-notes --repo ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload:
    name: Upload
    needs: draft
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64

          - os: ubuntu-latest
            goos: linux
            goarch: arm64

          - os: windows-latest
            goos: windows
            goarch: amd64

          - os: macos-latest
            goos: darwin
            goarch: amd64

          - os: macos-latest
            goos: darwin
            goarch: arm64

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Build
        run: make build
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}

      - name: Upload artifact
        run: |
          tar czvf ov_${{ matrix.goos }}_${{ matrix.goarch }}.tar.gz ov
          gh release upload ${{ github.ref_name }} ov_${{ matrix.goos }}_${{ matrix.goarch }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish
    needs: upload
    runs-on: ubuntu-latest
    steps:
      - name: Publish release
        run: gh release edit ${{ github.ref_name }} --draft=false --repo ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
